:root {
    --original-img: url("https://picsum.photos/200/300");
    --dithered-img: url("https://picsum.photos/200/300");
}

.dither-container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.dither-container {
    width: 40vw;
    min-height: 5vh;
}

#dither-img {
    content: var(--dithered-img);
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#dither-img:active {
    content: var(--original-img);
    image-rendering: auto;
}